sqlfluff
snowflake-connector-python
python-dotenv
pandas
boto3
streamlit
sqlparse
sagemaker
joblib
scikit-learn
xgboost
langchain
sentence-transformers
transformers
faiss-cpu
# Optional (only if you want cloud LLMs)
openai
pinecone-client
accelerate
langchain==1.0.8
langchain-community==0.4.1
accelarate
tabulate